#map {
      height: 100%;
      width: 100%;
      float:right;
    }
    /* Optional: Makes the sample page fill the window. */
    
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    #floating-panel {
      position: absolute;
      top: 10px;
      left: 35%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto', 'sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }

    #videos {
      
      position: absolute;
      top: 30px;
      left: 80%;
      float: right;
      width: 260px;
      height: 260px;
      z-index: 5;
      background-color: #fff;
      border: 1px solid #999;
      overflow-x: scroll;
    }

    .chat__sidebar {
      position: absolute;
      float:left;
      overflow-y: scroll;
      width: 260px;
      height: 100vh;
   z-index: 5;
      background-color: #fff;
      border: 1px solid #999;
}

#my-events {
  display: none;
}