#map {
  height: 550px;
  width: 100%;
}

li {
  color: white;
}

#progressBar {
  display: none;
  color: white;
  font-size: 25px;
}

ul {
  overflow-x: scroll;
}

table td {
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}

#my-events {
  position: relative;
  border: none;
  margin: 5px;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-right: 0px;
  margin-left: auto;
}

td {
  text-align: right;
  padding: 8px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  /*background-color: #f2f2f2;*/
  background-color: honeydew;
  color: black;
}

#earth_div {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute !important;
}

html,
body {
  padding: 0;
  margin: 0;
}
